
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,200px);
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 8px;
    margin-left: 8px;
}


body{
    margin: 25px;
    display: flex;
    justify-content:center ;
    background: white;}



.contppal{
    margin: 38sssspx;
    background: rgb(190, 173, 173);
    width: 90%;
    max-width:1000px ;
}

.card{
    max-height: 200px;
}
.pru, .pru2{
    overflow-y: auto;   
    max-height: 200px;
    background: 92, 135, 132;
}

div h1{
    text-align: center;
}


.card {
  
  perspective: 1000px;
}

.card-contenedor {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-contenedor{
  transform: rotateY(180deg);
}

.card-frontal,
.card-trasera {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-frontal {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-trasera {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}








/* segundo boton */ 
.boton-celda {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;

}

.boton-celda button {
  /* Fija el tamaño del botón */
  width: 200px; /* Ancho fijo */
  height: 50px; /* Altura fija */
  margin: 0;
  padding: 0;
   position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}





button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  align-items: center;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
































/* From Uiverse.io by PriyanshuGupta28 */ 
.checkbox-w input[type="checkbox"] {
  display: none;
}

.checkbox-w .terms-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-w .terms-label .label-text {
  margin-left: 10px;
}

.checkbox-w .checkbox-svg {
  width: 30px;
  height: 30px;
}

.checkbox-w .checkbox-box {
  fill: rgba(207, 205, 205, 0.425);
  stroke: #8c00ff;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-w .checkbox-tick {
  stroke: #8c00ff;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-w input[type="checkbox"]:checked + .terms-label .checkbox-box,
  .checkbox-w input[type="checkbox"]:checked + .terms-label .checkbox-tick {
  stroke-dashoffset: 0;
}
































